<footer class="site-footer">

  <div class="wrap">

    <div class="footer-col-1 column">
      <ul>
	<li>
	<a href="mailto:{{site.email }}">
		<span class="icon github">
           <svg version="1.1" class="github-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 1792 1792" enable-background="new 0 0 16 16" xml:space="preserve">
		<path fill="#C2C2C2" d="M1792 826v-794q0 -66 -47 -113t-113 -47h-1472q-66 0 -113 47t-47 113v794q44 -49 101 -87q362 
		-246 497 -345q57 -42 92.5 -65.5t94.5 -48t110 -24.5h1h1q51 0 110 24.5t94.5 48t92.5 65.5q170 123 498 345q57 39 100 
		87zM1792 1120q0 -79 -49 -151t-122 -123 q-376 -261 -468 -325q-10 -7 -42.5 -30.5t-54 -38t-52 -32.5t-57.5 -27t-50 
		-9h-1h-1q-23 0 -50 9t-57.5 27t-52 32.5t-54 38t-42.5 30.5q-91 64 -262 182.5t-205 142.5q-62 42 -117 115.5t-55 
		136.5q0 78 41.5 130t118.5 52h1472q65 0 112.5 -47t47.5 -113z"/>
          </svg>
               </span>
               <span class="username">Mail</span></a>
	</li>
        <li>
          <a href="https://github.com/{{ site.username }}">
            <span class="icon github">
              <svg version="1.1" class="github-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#C2C2C2" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761
                c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32
                c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472
                c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037
                C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65
                c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261
                c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082
                c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129
                c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
              </svg>
            </span>
            <span class="username">GitHub</span>
          </a>
        </li>
	<li>
	<a href="https://bitbucket.org/{{site.username}}">
	   <span class="icon github">
             <svg version="1.1" class="github-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 500 500" xml:space="preserve">
		<path fill="#C2C2C2" d="M227.399 239.676q2.232 17.578-14.090 28.181t-31.11 1.674q-10.882-4.743-14.927-16.183t-0.14-22.879 
		14.509-16.183q10.044-5.022 20.229-3.348t17.857 9.905 7.673 18.833zM258.371 233.817q-3.906-29.855-31.529-45.759t-54.966-3.627q-17.578 
		7.813-28.042 24.693t-9.626 36.133q1.116 25.391 21.624 43.248t46.177 15.625q25.391-2.232 42.411-23.438t13.951-46.875zM325.056 
		82.589q-5.581-7.534-15.625-12.417t-16.183-6.138-19.81-3.488q-81.194-13.114-157.924 0.558-11.998 1.953-18.415 3.348t-15.346 
		6.138-13.951 11.998q8.371 7.813 21.206 12.695t20.508 6.138 24.414 3.208q63.616 8.091 125 0.279 17.578-2.232 24.972-3.348t20.229-5.999 
		20.926-12.974zM340.96 371.373q-2.232 7.254-4.325 21.345t-3.906 23.438-7.952 19.531-16.183 15.765q-23.996 13.393-52.874 
		19.95t-56.362 6.138-56.222-5.162q-12.835-2.232-22.74-5.022t-21.345-7.534-20.368-12.137-14.509-17.16q-6.976-26.786-15.904-81.473l1.674-4.464 
		5.022-2.511q62.221 41.294 141.323 41.294t141.602-41.294q5.859 1.674 6.696 6.417t-1.395 12.556-2.232 10.324zM391.462 103.237q-7.254 
		46.596-30.971 182.757-1.395 8.371-7.534 15.625t-12.137 11.161-15.207 8.649q-70.313 35.156-170.201 
		24.554-69.196-7.534-109.933-38.784-4.185-3.348-7.115-7.394t-4.743-9.766-2.511-9.487-1.674-11.021-1.535-9.766q-2.511-13.951-7.394-41.853t
		-7.813-45.062-6.557-41.155-6.138-44.085q0.837-7.254 4.883-13.532t8.789-10.463 12.556-8.371 12.835-6.278 13.393-5.162q34.877-12.835 
		87.333-17.857 105.748-10.324 188.616 13.951 43.248 12.835 59.989 34.040 4.464 5.581 4.604 14.23t-1.535 15.067z" />
            </svg>
	   </span>
	   <span class="username">Bitbucket</span>
	</a>
	</li>
    </ul>
    </div>

    <div class="footer-col-2 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
